<section id="about" class="w-full h-full bg-slate-950 grid grid-cols-10 grid-rows-10 p-10 pl-1 " >
    <div class="col-span-9 row-span-2 col-start-2 row-start-1 bg-slate-800 rounded-3xl rounded-b-none p-5 pb-0">
        <div class="bg-slate-950 w-full h-full rounded-2xl flex text-slate-50 justify-start items-center text-3xl font-extrabold pl-10">
            <p class="underline decoration-slate-500"><app-animetion [targetString]="'About Me'"></app-animetion></p>
        </div>
    </div>
    <div class="col-span-10 row-span-6 col-start-1 row-start-3 bg-slate-800 rounded-3xl rounded-bl-none rounded-tr-none p-5">
        <div class="bg-slate-950 w-full h-full rounded-2xl text-slate-50 p-10 text-lg text-justify flex flex-col gap-4">
            <p class="w-full h-full text-base">
                Foundation in essential web technologies, including HTML, CSS, JavaScript, and TypeScript. My experience allows me to create responsive and visually appealing user interfaces that enhance the overall user experience. I’m committed to writing clean, maintainable code, ensuring that my projects are both efficient and scalable.
<br>
In addition to my proficiency in core languages, I’m skilled in various JavaScript and CSS frameworks. I have worked extensively with React, Next.js, and Angular, enabling me to build dynamic applications that meet modern web standards. I also utilize libraries like jQuery to streamline development processes when needed. My expertise in these frameworks allows me to leverage their unique features, resulting in robust and user-friendly applications.
<br>
Moreover, I am well-versed in modern CSS frameworks and preprocessors, such as Tailwind CSS, Bootstrap, SCSS, and Less. These tools empower me to implement responsive designs quickly and maintain consistency across projects. By combining my technical skills with a keen eye for design, I aim to create seamless, engaging web experiences that resonate with users.
            </p>
            <div class="flex gap-3 w-full justify-end text-sm">
                <a class="font-medium tracking-wider text-slate-700  border-2 border-slate-700 border-solid p-3  w-fit rounded-2xl hover:bg-slate-700 hover:text-slate-50 transition" [routerLink]="['/contact']">Contact Me</a>
                <a class="font-medium tracking-wider text-slate-700  border-2 border-slate-700 border-solid p-3  w-fit rounded-2xl hover:bg-slate-700 hover:text-slate-50 transition" href="assets/images/parsa.png" download>Download resume</a>
            </div>
        </div>
    </div>
    <div class="col-span-9 row-span-2 col-start-1 row-start-9  bg-slate-800 rounded-3xl rounded-t-none p-5 pt-0">
        <div class="bg-slate-950 w-full h-full rounded-2xl flex justify-center items-center">
            <app-apps-contact ></app-apps-contact>
        </div>
    </div>
    <div class="col-start-1 row-start-2 relative">
        <div class="bg-transparent rounded-br-3xl shadow-[20px_20px_0_0] shadow-slate-800 absolute w-full h-full bottom-0 right-0">
        </div>
    </div>
    <div class="col-start-1 row-start-1  flex items-start pr-4 relative cursor-pointer" [routerLink]="['/']">
        
        <div
            class="w-[85%] h-[100px] bg-slate-800 rounded-3xl rounded-bl-none flex justify-center items-center text-slate-50 ">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="none">
                <path d="M12 4L12 20" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M16.9998 8.99996C16.9998 8.99996 13.3174 4.00001 11.9998 4C10.6822 3.99999 6.99982 9 6.99982 9" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </div>
        <div
            class="absolute h-full top-[100px] w-1/2 z-50 bg-transparent rounded-tl-3xl shadow-[0px_-25px_0_0] shadow-slate-800 ">
        </div>
    </div>
    <div class="col-start-10 row-start-9 relative">
        <div class="bg-transparent rounded-tl-3xl shadow-[-20px_-20px_0_0] shadow-slate-800 absolute w-full h-full top-0 left-0">

        </div>
    </div>
    <div class="col-start-10 row-start-10 flex items-end justify-end pl-4 relative cursor-pointer" [routerLink]="['/skills']">
        <div
            class="absolute h-full bottom-[100px] w-1/2 z-50 bg-transparent rounded-br-3xl shadow-[0px_25px_0_0] shadow-slate-800 ">
        </div>
        <div
            class="w-[85%] h-[100px] bg-slate-800 rounded-3xl rounded-tr-none flex justify-center items-center text-slate-50 ">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="25" height="25" fill="none">
                <path d="M12 20L12 4" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                    stroke-linejoin="round" />
                <path d="M17 15C17 15 13.3175 20 11.9999 20C10.6823 20 6.99997 15 6.99997 15" stroke="currentColor"
                    stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </div>
    </div>
</section>
