<section id="skill" class="w-full h-full bg-slate-950 p-10 pl-1 grid grid-cols-10 grid-rows-10 gap-0">
    <div class="col-span-9 row-span-2 bg-slate-800 rounded-3xl rounded-b-none p-5 pb-0">
        <div
            class="bg-slate-950 w-full h-full rounded-2xl flex text-slate-50 justify-start items-center text-3xl font-extrabold pl-10 ">
            <p class="underline decoration-slate-600"><app-animetion [targetString]="'My Skills'"></app-animetion></p>
        </div>
    </div>
    <div
        class="col-span-10 row-span-6 col-start-1 row-start-3 bg-slate-800 rounded-3xl rounded-br-none rounded-tl-none p-5 flex gap-5">
        <div class="bg-slate-950 rounded-2xl h-full w-full p-10 pt-5 box-border ">
            <div class="flex justify-between h-fit items-center">
                <h4 class="text-slate-200 text-2xl font-bold ">Hard Skills</h4>

                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"
                    class="text-slate-200" fill="none">
                    <path
                        d="M17 8L18.8398 9.85008C19.6133 10.6279 20 11.0168 20 11.5C20 11.9832 19.6133 12.3721 18.8398 13.1499L17 15"
                        stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path
                        d="M7 8L5.16019 9.85008C4.38673 10.6279 4 11.0168 4 11.5C4 11.9832 4.38673 12.3721 5.16019 13.1499L7 15"
                        stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M14.5 4L9.5 20" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg>
            </div>
            <div class="w-full h-1 bg-slate-600 rounded-2xl mt-1"></div>
            <div class="flex h-full items-center w-full">
                <ul class="text-200 flex flex-col gap-2 w-full h-5/6 overflow-y-auto list-inside list-disc">
                    <li class="text-slate-200 text-xl">Html & Css</li>
                    <li class="text-slate-200 text-xl">Java Script</li>
                    <li class="text-slate-200 text-xl">Type Script</li>
                    <li class="text-slate-200 text-xl">Angular</li>
                    <li class="text-slate-200 text-xl">React Js & Next Js</li>
                    <li class="text-slate-200 text-xl">Scss & Less</li>
                    <li class="text-slate-200 text-xl">Tailwind & Bootstrap</li>
                    <li class="text-slate-200 text-xl">Ant Design & Ng Zorro</li>
                    <li class="text-slate-200 text-xl">Angular Material</li>
                    <li class="text-slate-200 text-xl">Rx Js</li>
                    <li class="text-slate-200 text-xl">Unit & Integration Testing</li>
                    <li class="text-slate-200 text-xl">Git & GitHub</li>
                    <li class="text-slate-200 text-xl">Ui & UX</li>
                    <li class="text-slate-200 text-xl">Webflow</li>
                    <li class="text-slate-200 text-xl">Wordpress</li>
                    <li class="text-slate-200 text-xl">Php</li>
                </ul>

            </div>

        </div>
        <div class="bg-slate-950 rounded-2xl h-full w-full p-10 pt-5 box-border ">
            <div class="flex justify-between h-fit items-center">
                <h4 class="text-slate-200 text-2xl font-bold">Soft Skills</h4>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"
                    class="text-slate-200" fill="none">
                    <path d="M14 18C14 18 15 18 16 20C16 20 19.1765 15 22 14" stroke="currentColor" stroke-width="1.5"
                        stroke-linecap="round" stroke-linejoin="round" />
                    <path
                        d="M13 22H6.59087C5.04549 22 3.81631 21.248 2.71266 20.1966C0.453365 18.0441 4.1628 16.324 5.57757 15.4816C8.75591 13.5891 12.7529 13.5096 16 15.2432"
                        stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path
                        d="M16.5 6.5C16.5 8.98528 14.4853 11 12 11C9.51472 11 7.5 8.98528 7.5 6.5C7.5 4.01472 9.51472 2 12 2C14.4853 2 16.5 4.01472 16.5 6.5Z"
                        stroke="currentColor" stroke-width="1.5" />
                </svg>
            </div>
            <div class="w-full h-1 bg-slate-600 rounded-2xl mt-1"></div>
            <div class="flex h-full items-center w-full">
                <ul class="text-200 flex flex-col gap-2 w-full h-5/6 overflow-y-auto list-inside list-disc">
                    <li class="text-slate-200 text-xl">Problem-solving</li>
                    <li class="text-slate-200 text-xl">Attention to detail</li>
                    <li class="text-slate-200 text-xl">Time management</li>
                    <li class="text-slate-200 text-xl">Adaptability</li>
                    <li class="text-slate-200 text-xl">Creativity</li>
                    <li class="text-slate-200 text-xl">Openness to feedback</li>
                    <li class="text-slate-200 text-xl">Clean code</li>
                </ul>

            </div>
        </div>
    </div>
    <div class="col-span-9 row-span-2 col-start-2 row-start-9 bg-slate-800 rounded-3xl rounded-t-none p-5 pT-0">
        <div class="bg-slate-950 w-full h-full rounded-2xl flex justify-center items-center">
            <app-apps-contact></app-apps-contact>
        </div>
    </div>
    <div class="col-start-1 row-start-9 relative">
        <div
            class="bg-transparent rounded-tr-3xl shadow-[20px_-20px_0_0] shadow-slate-800 absolute w-full h-full top-0 right-0">

        </div>
    </div>
    <div class="col-start-1 row-start-10 flex items-end justify-start pr-4 relative cursor-pointer"
        [routerLink]="['/experience']">
        <div
            class="absolute h-full bottom-[100px] w-1/2 z-50 bg-transparent rounded-bl-3xl shadow-[0px_25px_0_0] shadow-slate-800 ">
        </div>
        <div
            class="w-[85%] h-[100px] bg-slate-800 rounded-3xl rounded-tl-none flex justify-center items-center text-slate-50 ">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="25" height="25" fill="none">
                <path d="M12 20L12 4" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                    stroke-linejoin="round" />
                <path d="M17 15C17 15 13.3175 20 11.9999 20C10.6823 20 6.99997 15 6.99997 15" stroke="currentColor"
                    stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </div>
    </div>
    <div class="col-start-10 row-start-2  relative">
        <div
            class="bg-transparent rounded-bl-3xl shadow-[-20px_20px_0_0] shadow-slate-800 absolute w-full h-full bottom-0 left-0">
        </div>
    </div>
    <div class="col-start-10 row-start-1 flex items-start justify-end pl-4 relative cursor-pointer"
        [routerLink]="['/about']">
        <div
            class="w-[85%] h-[100px] bg-slate-800 rounded-3xl rounded-br-none flex justify-center items-center text-slate-50 ">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="none">
                <path d="M12 4L12 20" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                    stroke-linejoin="round" />
                <path d="M16.9998 8.99996C16.9998 8.99996 13.3174 4.00001 11.9998 4C10.6822 3.99999 6.99982 9 6.99982 9"
                    stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </div>
        <div
            class="absolute h-full top-[100px] w-1/2 z-50 bg-transparent rounded-tr-3xl shadow-[0px_-25px_0_0] shadow-slate-800 ">
        </div>
    </div>
</section>