$carousel-width: 600px;
$carousel-height: 300px;

body {
  background: #333;
  color: #fff;
  font-size: 22pt;
  text-align: center;
  font-family: 'Teko';
  letter-spacing: 0.15em;
}

body * { -webkit-user-select: none }

.wrap {
  position: relative;
  width: $carousel-width;
  height: 300px;
  margin: 0 auto;
  box-shadow:7px 7px 5px 0px rgba(0, 0, 0, 0.25);
}

.window {
  overflow: hidden;
  position: relative;
  background: #222;
}

#carousel {
  width: 10000px;
  position: relative;
  top: 0; left: -450px;
}

.slide {
  height: 300px;
  width: 500px;
  cursor: pointer;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slide#b1 { background: #556270 }
.slide#b2 { background: #4ECDC4 }
.slide#b3 { background: #9CE462 }
.slide#b4 { background: #FF6B6B }
.slide#b5 { background: #C44D33 }

#prev, #next {
  cursor: pointer;
  position: absolute;
  bottom: -40px;
  font-size: 14pt;
}

#prev { left: 0 }
#next { right: 0 }

.transition {
  transition: .7s;
}